@media (max-width: 1023px){
    .center{
        padding-left:calculate(50%-401px);
        padding-right: calculate(50%-401px);
    }

    .for_item{
        height: 268px;
    }

    .footer_logo {
        display: none;
    }

    .blocks {
        display: flex;
        flex-direction: column;
        // justify-content: space-between;
    }
}

@media (min-width: 768px) and (max-width: 8433px){
    .product-box {
        width: 345px;
    }
    .product-content {
        justify-content: flex-start;
        gap: 30px;
    }
    .center {
        padding-left:24px;
        padding-right: 24px;
    }
}