* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
}

.header {
  height: 76px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 0.5px solid;
  border-bottom-color: rgba(255, 255, 255, 0.8);
}

.header__links {
  display: none;
}

.menu {
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
}

.heading {
  font-weight: 600;
  font-size: 64px;
  line-height: 70px;
  margin-top: 64px;
  margin-bottom: 16px;
  max-width: 786px;
  color: #FFFFFF;
}

.heading-catalog {
  font-weight: 600;
  font-size: 64px;
  line-height: 70px;
  margin-top: 204px;
  color: #FFFFFF;
}

.paragraph {
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 16px;
  color: #FFFFFF;
}

.link {
  font-size: 16px;
  line-height: 24px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #FFFFFF;
}

.for {
  /* padding-top: 64px; */
}

.for_grid {
  display: -ms-grid;
  display: grid;
  gap: 32px;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
}

.for_item {
  grid-column: span 4;
  height: 415px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  font-weight: 600;
  font-size: 34px;
  line-height: 41px;
  display: -ms-grid;
  display: grid;
  place-content: center;
  color: #FFFFFF;
  text-transform: uppercase;
}

.for_item_big {
  grid-column: span 6;
}

.for_item1 {
  background-image: url(img/for1.jpg);
}

.for_item2 {
  background-image: url(img/for2.jpg);
}

.for_item3 {
  background-image: url(img/for3.jpg);
}

.for_item4 {
  background-image: url(img/for4.jpg);
}

.for_item5 {
  background-image: url(img/for5.jpg);
}

.special_heading {
  font-weight: 600;
  font-size: 48px;
  line-height: 59px;
  color: #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 32px;
}

.catalog_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
}

.heading_chair {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  margin-top: 10px;
  margin-bottom: 7px;
}

.paragraph_desc {
  font-size: 14px;
  line-height: 17px;
  color: #8b7070;
  margin-bottom: 13px;
}

.product_price {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #050505;
}

.product_price_sale {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
  color: #888888;
  margin-left: 32px;
}

.heading_menu {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  /* margin-top: 32px;
    margin-bottom: 12px; */
}

.links_navig {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #888888;
  text-decoration: none;
}

.paragraph_new {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
  margin-bottom: 16px;
}

.email_style {
  border: 1px solid #C4C4C4;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 20px;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  color: #C4C4C4;
  margin-bottom: 12px;
  padding-left: 25px;
  padding-top: 12px;
  padding-bottom: 14px;
}

.button_style {
  background: rgba(222, 215, 215, 0.41);
  border: 1px solid;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 20px;
  width: 275.36px;
  height: 46px;
  font-size: 15px;
  line-height: 18px;
  color: #000000;
}

.top {
  min-height: 735px;
  background-image: url(img/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
}

.top-catalog {
  min-height: 400px;
  background-image: url(img/catalog-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
}

.top-input {
  width: 288px;
  height: 41px;
  background-color: transparent;
  border: 1px solid;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 20px;
  border-color: #FFFFFF;
}

.top-input::-webkit-input-placeholder {
  color: #FFFFFF;
  padding-left: 32px;
  font-size: 16px;
  line-height: 20px;
}

.top-input:-ms-input-placeholder {
  color: #FFFFFF;
  padding-left: 32px;
  font-size: 16px;
  line-height: 20px;
}

.top-input::-ms-input-placeholder {
  color: #FFFFFF;
  padding-left: 32px;
  font-size: 16px;
  line-height: 20px;
}

.top-input::placeholder {
  color: #FFFFFF;
  padding-left: 32px;
  font-size: 16px;
  line-height: 20px;
}

.foo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  background: #F7F6F6;
  padding-top: 32px;
  padding-bottom: 40px;
}

.product {
  max-width: 378px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-preferred-size: 379px;
      flex-basis: 379px;
}

.product-box {
  margin-top: 72px;
}

.body-catalog {
  margin-top: 64px;
  margin-bottom: 64px;
}

.product-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  row-gap: 48px;
  margin-bottom: 32px;
  margin-top: 32px;
}

.show_more {
  font-size: 16px;
  line-height: 24px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #000000;
}

.ref {
  font-size: 16px;
  line-height: 32px;
  color: #000000;
  margin-top: 64px;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 32px;
  color: #FFFFFF;
}

.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

.footer_navig {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  row-gap: 12px;
}

.footer_contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  row-gap: 12px;
}

.footer_subscribe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 15px;
  margin-bottom: 12px;
}

.footer_symbols {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.interier {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  /* margin-left: 120px; */
  padding-top: 32px;
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
  color: #000000;
}

@media (max-width: 1023px) {
  .center {
    padding-left: 24px;
    padding-right: 24px;
  }
  .for_item {
    height: 268px;
  }
  .footer_logo {
    display: none;
  }
  .blocks {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 767px) {
  .center {
    padding-left: 16px;
    padding-right: 16px;
  }
  .img {
    min-width: 100%;
  }
  .top {
    text-align: center;
    min-height: 100vh;
  }
  .heading {
    font-size: 48px;
    line-height: 59px;
    margin-top: 29px;
  }
  .heading-catalog {
    font-size: 48px;
    line-height: 59px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 104px;
    margin-bottom: 170px;
  }
  .heading-main {
    font-size: 48px;
    line-height: 59px;
  }
  .body-part {
    max-width: 343px;
  }
  .paragraph {
    font-size: 16px;
  }
  .link {
    font-size: 14px;
  }
  .menu {
    display: none;
  }
  .top-input {
    display: none;
  }
  .header {
    margin-top: 32px;
    padding-top: 50px;
  }
  .header__links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 32px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .special_heading {
    font-size: 24px;
    line-height: 29px;
  }
  .for_item {
    font-size: 24px;
    line-height: 29px;
  }
  .for_grid {
    -ms-grid-columns: repeat 4, 1fr;
        grid-template-columns: repeat 4, 1fr;
  }
  .for_item {
    grid-column: 1/-1;
    height: 375px;
  }
  .for_item_big {
    height: 244px;
  }
  .heading_chair {
    font-size: 18px;
    line-height: 22px;
  }
  .special_offers {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .product_price {
    font-size: 18px;
    line-height: 22px;
  }
  .product_price_sale {
    font-size: 18px;
    line-height: 22px;
  }
  .product-box {
    margin-top: 32px;
  }
  .product-content {
    row-gap: 32px;
  }
  .img_prop {
    max-width: 343px;
  }
  .info {
    max-width: 253px;
  }
  .foo {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 32px;
  }
  .footer_subscribe {
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .pic {
    display: none;
  }
  .summary {
    margin-top: 59px;
    padding-top: 0px;
    margin-left: 0px;
  }
  .options {
    margin-bottom: 0px;
  }
  .purchase-buttons {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .butt {
    width: 163px;
    height: 37px;
  }
  .butt-content {
    font-size: 12px;
    line-height: 15px;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 11px;
    padding-bottom: 11px;
  }
  .special-offers {
    margin-top: 48px;
    font-size: 24px;
    line-height: 29px;
  }
  .product-name {
    font-size: 18px;
    line-height: 22px;
  }
  .product-price {
    font-size: 18px;
    line-height: 22px;
  }
  .bottom-part {
    margin-bottom: 32px;
  }
}
/*# sourceMappingURL=style.css.map */